<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Caveira Rock</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">Caveira Rock</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Categorias</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
        <li>
          <a href="index.html">Camisetas</a>
        </li>
        <li>
          <a href="index.html">Chaveiros</a>
        </li>
        <li>
          <a href="index.html">Quadros</a>
        </li>
      </ul>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
         <li>
           <div class="product">
              <img class="product-image" src="images/acdc.jpg" alt="product 1">
              <div class="product-name">
               <a href="product.html">AC/DC T-shirt</a> 
              </div>
              <div class="product-brand">Volt</div>
              <div class="product-price">R$ 65,00</div>
              <div class="product-rating">4.5 Stars (50 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
               <img class="product-image" src="images/gunsnroses.jpg" alt="product 1">
               <div class="product-name">
                <a href="product.html">Gun´s T-shirt</a> 
               </div>
               <div class="product-brand">Volt</div>
               <div class="product-price">R$ 65,00</div>
               <div class="product-rating">4.5 Stars (50 Reviews)</div>
             </div>
           </li>
           <li>
            <div class="product">
               <img class="product-image" src="images/ironMaiden.webp" alt="product 1">
               <div class="product-name">
                <a href="product.html">Iron Maiden T-shirt</a> 
               </div>
               <div class="product-brand">Volt</div>
               <div class="product-price">R$ 65,00</div>
               <div class="product-rating">4.5 Stars (50 Reviews)</div>
             </div>
           </li>
           <li>
            <div class="product">
               <img class="product-image" src="images/metalica.jpg" alt="product 1">
               <div class="product-name">
                <a href="product.html">Metalica T-shirt</a> 
               </div>
               <div class="product-brand">Volt</div>
               <div class="product-price">R$ 65,00</div>
               <div class="product-rating">4.5 Stars (50 Reviews)</div>
             </div>
           </li>
           <li>
            <div class="product">
               <img class="product-image" src="images/nirvana.jpg" alt="product 1">
               <div class="product-name">
                <a href="product.html">Nirvana shirt</a> 
               </div>
               <div class="product-brand">Volt</div>
               <div class="product-price">R$ 65,00</div>
               <div class="product-rating">4.5 Stars (50 Reviews)</div>
             </div>
           </li>
           <li>
            <div class="product">
               <img class="product-image" src="images/offspring.jpg" alt="product 1">
               <div class="product-name">
                <a href="product.html">Offspring shirt</a> 
               </div>
               <div class="product-brand">Volt</div>
               <div class="product-price">R$ 65,00</div>
               <div class="product-rating">4.5 Stars (50 Reviews)</div>
             </div>
           </li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      All right reserved.</br>
      phdev
    </footer>
  </div>
  <script>
    function openMenu(){
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu(){
      document.querySelector(".sidebar").classList.remove("open");
    }
  </script>
</body>
</html>